.container{
  margin-top: 2rem;
}

.description{
  font-weight: normal;
  margin-bottom: 2rem;
}

.filter-box{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.total_chart > p{
  margin: 0;
  margin-bottom: 0.5rem;
  font-family: 'Nunito Sans', sans-serif !important;
}

.total_chart > div{
  max-width: 35rem;
  margin-top: 3rem;
}

.total_chart > h3{
  margin: 0;
  margin-bottom: 2px;
  font-size: 2rem;
}

.datepicker > div{
  border-radius: 2rem;
}

@media screen and (min-width: 960px){
  .filter-box{
    flex-direction: row;
    max-width: 50rem;
  }
  .filter-box > div{
    min-width: 15rem;
    flex: 1;
  }
  .filter-box > button{
    min-width: 12rem;
  }
}