.slider-card{
  margin-bottom: 1rem;
}

.slider-card-header span, .slider-card-content p{
  font-family: 'Nunito Sans', sans-serif !important;
}

.slider-card-header span:first-child{
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: .05rem;
}

.slider-card-actions{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

@media screen and (min-width: 600px){
  .slider-card-content{
    height: 4rem;
    overflow: hidden;
  }
}