.input > div{
  border-radius: 2rem;
}

.input > label{
  font-family: 'Nunito Sans', sans-serif !important;
}

.input > label.Mui-focused{
  padding-left: .3rem;
}

.input > div.Mui-focused fieldset{
  border-color: var(--primary) !important;
}