.button, .button-outline{
  display: flex;
  gap: .5rem;
  letter-spacing: .05rem;
  width: 100%;
  border-radius: 2rem;
  margin-top: 2rem; 
  /* margin-top -> cambio ultimo momento para lo de iniciar reserva, despues se cambia */
}

.button svg, .button-outline svg{
  width: 1.2rem;
  height: 1.2rem;
}

.button.primary{
  color: var(--white);
  background-color: var(--primary);
}

.button.primary:hover{
  background-color: var(--primary-hover);
}

.button-outline{
  background-color: var(--white);
}

.button-outline.primary{
  color: var(--primary);
  border: .1rem solid var(--primary);
}

.button-outline.primary:hover{
  color: var(--primary-hover);
  border-color: var(--primary-hover);
}

.button-outline.black{
  color: var(--black);
  border: .1rem solid var(--black);
}

.button-outline.black:hover{
  color: var(--primary-hover);
  border-color: var(--primary-hover);
}