.link, .button{
  display: flex;
  align-items: center;
  gap: .5rem;
  letter-spacing: .05rem;
}

.link svg, .button svg, .button-outline svg{
  width: 1.2rem;
  height: 1.2rem;
}

.primary{
  color: var(--primary);
}

.primary:hover{
  color: var(--primary-hover);
}

.secondary{
  color: var(--secondary);
}

.secondary:hover{
  color: var(--secondary-hover);
}

.white{
  color: var(--white);
}

.white:hover{
  color: var(--medium-gray);
}

.black{
  color: var(--black);
}

.black:hover{
  color: var(--primary);
}

.gray{
  color: var(--dark-gray);
}

.gray:hover{
  color: var(--medium-gray);
}

.button{
  justify-content: center;
  color: var(--white);
  border-radius: 2rem;
  border: .1rem solid;
  padding: 0.4rem 0.8rem;
}

.button-primary{
  background-color: var(--primary);
  border: .1rem solid var(--primary);
}

.button-primary:hover{
  background-color: var(--primary-hover);
}

.button-outline{
  text-align: center;
  padding: .4rem .8rem;
  border: .1rem solid;
  border-radius: 2rem;
  letter-spacing: .05rem;
  background-color: var(--white);
}