/* home page */
.categories-slider-container{
  background-color: var(--light-gray);
}

.categories-slider-container > div{
  padding-top: 4rem;
  padding-bottom: 6rem;
}

.services-slider-container > div{
  padding-top: 4rem;
  padding-bottom: 6rem;
}

/* internal pages */
.page-container > div > h2{
  margin-top: 4rem;
  margin-bottom: 2rem;
}