:root {
  --max-width: 1200px;

  /* colors */
  --primary: #2ABCC8;
  --primary-hover: #26a8b4;
  --secondary: #FE5CA7;
  --secondary-hover: #f82a8a;
  --light-gray: #F6F6F6;
  --medium-gray: #C6C6C6;
  --dark-gray: #8F8F8F;
  --white: #FFFFFF;
  --black: #292D34;
  
  /* fonts */
  font-family: 'Nunito Sans', sans-serif !important;
  font-size: 14px;
}

body{
  margin: 0;
}

ul{
  padding-left: 0;
  list-style: none;
}